<div class="row">
	<div class="col-xs-12">
		<form [formGroup]="getScreeningForm()" (ngSubmit)="onSubmit()">
			<input
					type="hidden"
					id="_id"
					formControlName="_id"
					class="form-control">
			
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label for="date">Date</label>
						<input
								type="text"
								id="date"
								formControlName="date"
								class="form-control">
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label for="starttime">Start time</label>
						<input
								type="text"
								id="starttime"
								formControlName="starttime"
								class="form-control">
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label for="endtime">End time</label>
						<input
								type="text"
								id="endtime"
								formControlName="endtime"
								class="form-control">
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label for="movieId">Movie ID</label>
						<input
								type="text"
								id="movieId"
								formControlName="movieId"
								class="form-control">
					</div>
				</div>
			</div>
			
			<!--<div class="row">-->
				<!--<div class="col-xs-12">-->
					<!--<div class="form-group">-->
						<!--<label for="movies">Movie</label>-->
						<!--&lt;!&ndash;<input list="movies" name="movie">&ndash;&gt;-->
						<!--<select id="movies">-->
							<!--<option *ngFor="let item of getMovies()" [value]="item._id">{{ item.name }}</option>-->
						<!--</select>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
			
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label for="theaterId">Theater ID</label>
						<input
								type="text"
								id="theaterId"
								formControlName="theaterId"
								class="form-control">
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-12">
					<button
							type="submit"
							class="btn btn-success"
							[disabled]="!getScreeningForm().valid">Save
					</button>
					<button
							type="submit"
							class="btn btn-danger"
							(click)="onCancel()">Cancel
					</button>
				</div>
			</div>
		</form>
	</div>
</div>