<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<!--<a routerLink="/" class="navbar-brand">Bioscoop Gemak</a>-->
			<a routerLink="/" class="navbar-brand">
				<img src="/assets/images/logo.png" />
			</a>
		</div>
		
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li routerLinkActive="active"><a routerLink="/movies">Movies</a></li>
				<li routerLinkActive="active"><a routerLink="/theaters">Theaters</a></li>
				<li routerLinkActive="active"><a routerLink="/screenings">Screenings</a></li>
			</ul>
		</div>
	</div>
</nav>
