<div class="row">
	<div class="col-xs-12 col-md-6">
		<img src="{{ getMovie().imageUrl }}" style="max-height: 500px"/>
	</div>
	
	<div class="col-xs-12 col-md-6">
		<h1>{{ getMovie().name }}</h1>
		
		<p>{{ getMovie().description }}</p>
		
		<h3 *ngIf="getMovie().screenings.length > 0">Shown in:</h3>
		
		<a *ngFor="let screening of getMovie().screenings" [routerLink]="['/screenings', screening._id]">
			<div class="well">
				<p class="dark"><strong>Date:</strong> {{ screening.date | date:'EEEE d MMMM yyyy' }}</p>
				<p class="dark"><strong>Time:</strong> {{ screening.starttime }} - {{ screening.endtime }}</p>
				<p class="dark"><strong>Theater:</strong> {{ getTheaterOfScreening(screening.theaterId).name }} ({{ getTheaterOfScreening(screening.theaterId).capacity }})</p>
			</div>
		</a>
		
		<p>
			<button class="btn btn-success btn-block" (click)="onEditMovie()">Edit</button>
			<button class="btn btn-danger btn-block" (click)="onDeleteMovie()">Delete</button>
		</p>
	</div>
</div>