<div class="row">
	<div class="col-xs-12 col-md-6">
		<img src="{{ getMovie().imageUrl }}" style="max-height: 500px"/>
	</div>
	
	<div class="col-xs-12 col-md-6">
		<h1>{{ getMovie().name }}</h1>
		
		<p>{{ getMovie().description }}</p>
		
		<div id="screenings" *ngIf="getScreenings().length > 0">
			<h3>Shown in:</h3>
			
			<a *ngFor="let screening of getScreenings()" [routerLink]="['/screenings', screening._id]">
				<div class="well">
					<p class="dark"><strong>Date:</strong> {{ (screening.date | date:'EEEE d MMMM yyyy') || 'Unknown' }}</p>
					<p class="dark"><strong>Time:</strong> {{ screening.starttime || 'Unknown' }} - {{ screening.endtime || 'Unknown' }}</p>
					<p class="dark"><strong>Theater:</strong> {{ getTheaterOfScreening(screening.theaterId).name }} ({{ getTheaterOfScreening(screening.theaterId).capacity }})</p>
				</div>
			</a>
		</div>
		<p>
			<button class="btn btn-success btn-block" (click)="onEditMovie()">Edit</button>
			<button class="btn btn-danger btn-block" (click)="onDeleteMovie()">Delete</button>
		</p>
	</div>
</div>