<div class="row">
	<div class="col-xs-12">
		<button class="btn btn-success btn-block" (click)="onNewScreening()">new Screening</button>
	</div>
</div>

<hr>

<div class="row">
	<h4 style="text-align: center">Filter:</h4>
	<div class="col-xs-12 col-md-6">
		<button class="btn btn-success btn-block" (click)="filterAll()">All screenings</button>
	</div>
	<div class="col-xs-12 col-md-6">
		<button class="btn btn-success btn-block" (click)="filterFuture()">Future screenings</button>
	</div>
</div>
<hr>
<div class="row">
	<div
			class="col-xs-12 col-md-6 col-lg-4"
			*ngFor="let screeningEl of getScreenings()">
		<app-screening-item
				[screening]="screeningEl"
				[index]="screeningEl._id"></app-screening-item>
	</div>
</div>